* {
    margin: 0;
    padding: 0;
}

/* Navigation bar */
header{
    position: sticky;
    top: 0;
}
.navigation-bar {
    
   
    width: 100vw;
    height: 78px;
    background-color: #F2F3F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */

}

.navigation-bar:hover {
    background-color: rgba(0, 0, 0, 0.212);
    color: ;
}

.logo {
    /* display: flex; */

}

ul li a {
    text-decoration: none;
    color: black;
    padding: 80px;
    font-size: 20px;
}

li {
    display: inline-block;
    /* margin: 56px; */
}

ul {
    /* border:  2px solid black; */
    /* margin: 33px; */
}

.black {
    color: black;

}

.black:hover {

    color: white;
}

.button-1 {
    font-size: 19px;
    height: 32px;
    width: 85px;
    color: black;
    background-color: rgba(0, 0, 0, 0.589);
    position: relative;
    top: 2px;
    left: -61px;
    /* border: 2px solid black; */
    text-align: center;
    padding-top: 9px;
    border-radius: 20px;
    text-decoration: none;
}

.button-2 {
    font-size: 17px;
    height: 30px;
    width: 85px;
    color: white;
    background-color: rgba(0, 0, 0, 0.589);
    position: relative;
    top: 2px;
    left: -34px;
    /* border: 2px solid black; */
    text-align: center;
    padding-top: 12px;
    border-radius: 20px;
}

/* login-buttons */
a {
    text-decoration: none;

}

.button-1:hover {
    background-color: black;
}

.button-2:hover {
    background-color: black;
}

/* navigation login/signup span */
span {
    text-decoration: none;
    color: white;
}

/* Main section */
.main {
    display: flex;
}

.landing-img {
    background-image: url("images/library.jpg");
    background-size: cover;
    width: 100%;
    height: 90vh;


}

.overlay {
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.397);
}

.Title-box {
    /* background-image: url("images/book\ on\ bed.jpg"); */
    background-size: cover;
    color: whitesmoke;
    /* border: 2px red solid; */
    font-size: 10px;
    position: relative;
    top: 67px;
    left: 868px;
    height: 467px;
    width: 387px;
    font-family: 'Lobster', cursive;
    filter: drop-shadow(18px 18px 15px #000000);
}


/* .Title-Box-text {
    padding: 30px;
    font-size: 31px;
    padding-top: 69px;
    text-decoration: underline rgba(0, 0, 0, 0.419);
} */
/* 
.Title-Box-image-overlay {
    height: 467px;
    width: 387px;
    background-color: rgba(0, 0, 0, 0.205);
} */

/* Main Title/Heading OF Side */

.left-box {
    height: 236px;
    width: 391px;
    color: wheat;
    /* border: 2px black solid; */
    position: relative;
    top: 23px;
    left: -650px;
}

.left-box-text {
    font-size: 46px;
}
 .main-left-heading:hover{
    color:yellow
 }
 
 /* Footer */

 footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 35px;
    background-color: rgb(185, 211, 219);
    color: black;
    padding: 12px;
 }
 .centre
 {
    text-align: center;
 }